
.hDiv {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

img.icon {
    width: 20%;
}

#hBtn {
    background: transparent;
    border: none;
}

nav {
    background-color: #888;
    color: #fff;
}

.ul li {
    list-style: none;
    padding: 1rem 0;
}

li a {
    color: #fff;
}

li a:hover {
    background: #121212;
    padding: 2.5rem 0rem;
}

.ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem;
}